.footer {
    background: var(--bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    // display: flex;
   
}

.footer__box {
    // flex-grow: 1;
@media screen and (min-width: 768px) {
    margin-right: 165px;
}
@media screen and (min-width: 1200px) {

    // flex-grow: 1;
     text-align: start;
     margin-right: 70px;
     margin-left: auto;

}
}

.footer__container.container {
text-align: center;
    @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
//    flex-direction: row;
//    text-align: center;
 }
    @media screen and (min-width: 1200px) {
            display: flex;
            align-items: baseline;
           text-align: start;
        }

}

.adress__location {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-bg-color);
    text-decoration: none;
    cursor: default;

    transition: color var(--time-distribution);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

   
}

.adress {
    padding-left: 0;     
    //  width: 231px;

@media screen and (min-width: 1200px) {
        min-width: 231px;

    }
     
}

.adress li+li {
    margin-top: 9px;
}

.adress__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    cursor: default;
    transition: color var(--time-distribution);

    &:hover,
        &:focus {
            color: var(--accent-color);
        }
}



.footer__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
            text-align: start;
        }
    
}
.subscribe__input {
    // width: 358px;
    height: 50px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--bg-color);
    // margin-right: 12px;
    color: var(--primary-bg-color);

    width: 100%;
    margin-bottom: 20px;

    // @media screen and (max-width: 1199px) {
    //     display: inline-flex;
    //         text-align: center;
    // }
           @media screen and (min-width:1200px) {
               display: flex;
                width: 358px;
    
           }
}

.subscribe__btn {
    display: inline-flex;  
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
   
    height: 50px;
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow);
    border: transparent;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-bg-color);
    cursor: pointer;

    // @media screen and (min-width: 768px) {
    //     display: inline-flex;
    //         text-align: center;
     
    //     }

    @media screen and (min-width:1200px) {
             
     margin-left: 12px;
 }

}

.subscribe__icon {
   margin-left: 10px; 
}
 
 .subscribe-field {
     max-width: 450px;
   
    @media screen and (min-width: 1200px){ 
     display: inline-flex;
     min-width: 570px;
    }
 }

.footer-form {
    // display: flex;
        align-items: flex-start;
}

.footer-top {
@media screen and (max-width: 767px) {
        margin-bottom: 60px;}

    @media screen and (min-width: 768px) {
       display: flex;
       justify-content: space-around;
     align-items: baseline;
        margin-bottom: 60px;

        }
         @media screen and (min-width: 1200px) {
            display: flex;
                align-items: baseline;
                margin-bottom: 0;
                margin-right: 93px;
         }
}
