.section {
    @media screen and(max-width: 1199px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
     @media screen and(min-width: 1200px) {
       padding-top: 94px;
       padding-bottom: 94px;
 }

 
&--no-padding-top{
    padding-top: 0;
}

&--other-background {
    background-color: var(--buttons-bg-color);
   
}
}


.section--no-padding-top {
    @media screen and(max-width: 1199px) {
        display: none;
    }
     @media screen and(min-width: 1200px) {
         padding-top: 0;
     }
}